.home-wrapper {
    .rta-card {
        .card-second-row {
            font-size: 16px;
            font-weight: 500;
        }

        .card-details {
            color: var(--green-500);
        }
    }
}
