.password-wrapper {
    .p-float-label {
        .p-password {
            width: 100%;
            .p-icon-field {
                width: 100%;
                .p-password-input {
                    width: 100%;
                }

                .p-input-icon {
                    svg {
                        &:hover {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
